.navbar2{
  background-color: black;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 50%;
  margin: 4rem auto;
  position: relative;
  cursor: pointer;
  text-align: center;
  transition: 0.24s 0.2s;
}
.navbar2 img {
  border-radius: 50%;
}
.navbar2 .menu {
  list-style: none;
  padding:0 ;
  margin: 0;
  position: absolute;
  top: -75px;
  left: -75px;
  border: 150px solid transparent;
  cursor: pointer;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 1.4s 0.07s;
  z-index: -1;
}
.navbar2:hover .menu {
  transition: transform 0.4s 0.08s, z-index 0s 0.5s;
  transform: scale(1);
  z-index: 1;
}
.navbar2 .menu li {
  position: absolute;
  top: -100px;
  left: -100px;
  transform-origin: 100px 100px ;
  transition: all 0.5 0.1;
}
.navbar2:hover .menu li {
  transition: all 0.7s;
}
.navbar2 .menu li a {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  font-size: 50%;
  color: #32fbe2;;
  transition: 0.7s;
}
.navbar2 .menu li a:hover {
  background-color:#32fbe2;
  color: black;
}
.navbar2:hover  .menu li:nth-child(1) {
  transition-delay: 0.02s;
  transform: rotate(85deg);
}
.navbar2:hover  .menu li:nth-child(1) a {
  transition-delay: 0.04s;
  transform: rotate(635deg);
}
.navbar2:hover  .menu li:nth-child(2) {
  transition-delay: 0.02s;
  transform: rotate(125deg);
}
.navbar2:hover  .menu li:nth-child(2) a {
  transition-delay: 0.08s;
  transform: rotate(595deg);
}
.navbar2:hover  .menu li:nth-child(3) {
  transition-delay: 0.06s;
  transform: rotate(165deg);
}
.navbar2:hover  .menu li:nth-child(3) a {
  transition-delay: 0.012s;
  transform: rotate(555deg);
}
.navbar2:hover  .menu li:nth-child(4) {
  transition-delay: 0.08s;
  transform: rotate(205deg);
}
.navbar2:hover  .menu li:nth-child(4) a {
  transition-delay: 0.016s;
  transform: rotate(515deg);
}